body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AppSprintTwo{
  display: flex;
}

.boxTwo {
  padding: 20px;
}

/* button {
  border: 1px solid black;
  border-radius: 20px;
  width: 150px;
  height: 43px;
  background-color: white;
  margin: 20px;


 
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
} */


.boxTwo > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}